html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.inline {
  float: left;
  min-height: 100%;
  width: 50%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.inline > .background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-clip: border-box;
  transition: filter .9s ease-in-out;
}

.inline > .backgroundTouched {
  filter: brightness(35%);
}

.inline > .background-left {
  background-image: url("../img/left.jpg");
}

.inline > .background-right {
  background-image: url("../img/right.jpg");
}

.inline:first-child {
  border-right: 1px solid #c7baba;
}

.inline:last-child {
  border-left: 1px solid #c7baba;
}

@keyframes circle-color-change {
  0%   {background-color:#2EF024}
  50%  {background-color:#48F7F7}
  100% {background-color:#2EF024}
}

.inline > .circle {
  width: 200px;
  height: 200px;
  background-color: #2EF024;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 100px;
  animation: circle-color-change 6s infinite;
  transition: top .9s ease-in-out;
}

.inline > .touched {
  top: 25%;
}

.inline > .circle > .details {
  position: inherit;
  width: 500px;
  height: 500px;
}

.inline > .circle > .details > img {
  float: left;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.inline > .circle > .details > .description {
  float: left;
  width: 200px;
  height: 200px;
}
