html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

body > .inline {
  float: left;
  min-height: 100%;
  width: 50%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.inline > img {
  transition: filter 1.5s ease-in-out;
}

.inline > .backgroundTouched {
  filter: brightness(35%);
}

body > .inline:last-child {
  border-left: 1px solid #b38f8f;
}

@keyframes circle-color-change {
  0%   {background-color:#2EF024}
  50%  {background-color:#48F7F7}
  100% {background-color:#2EF024}
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #2EF024;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 100px;
  animation: circle-color-change 6s infinite;
  transition: top 1.5s ease-in-out;
}

.touched {
    top: 25%;
}
